/***************************/
/* HEADER */
/***************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bbb;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}
.logo {
  margin: 20px 0 20px 20px;
}
/***************************/
/* NAVIGATION */
/***************************/
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.section-cta {
  padding: 4.8rem 0 12.8rem;
  height: 100vh;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  /* background-image: linear-gradient(to right bottom, #eb984e, #e67e22); */
  overflow: hidden;

  height: 100vh;
}
.cta-text-box {
  padding: 25rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
  /* justify-content: center; */
}
.cta .heading-secondary {
  /* color: #45260a; */
  color: inherit;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 8rem;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  flex-direction: column;
}
.w {
  width: 50rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

/* .cta-form button {
} */

.cta *:focus {
  outline: none;

  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
/* .drop {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */

.dropdown {
  display: flex;
  justify-content: end;
  align-items: top;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 8rem;
  color: #45260a;
  height: 100vh;
  width: auto;
  padding-right: 15rem;
}
.dropdown-list {
  list-style: none;
  display: flex;
  gap: 3rem;
  align-items: top;
}

/* Ali {
  align-items: top;
} */

.box {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box a {
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  text-decoration: none;
}

.modal {
  position: fixed;
  inset: 0;
  background: #bbb;
  display: none;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  background: white;
  padding: 2em 4em;
  /* border-radius: 4px; */
  display: flex;
  flex-direction: column;
  gap: 5rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
}

.modal:target {
  display: flex;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fe0606;
  font-size: 30px;
  text-decoration: none;
}
.margin-rm {
  margin-right: 5rem;
  margin-bottom: 5rem;
  font-size: xx-large;
}
.margin-bo {
  margin-bottom: 10rem;
}
.pop-bt {
  padding: 3.6rem 4.8rem;
  border-radius: 9px;
  width: 18rem;
}
